include COPYING README git-changelog CHANGELOG.rst CONTRIBUTING
include doc/fedpkg_man_page.py
include doc/release-guide.markdown
include test/utils.py
include test/*.conf
include pip-pycurl
recursive-include conf *
include tox.ini
include requirements.txt tests-requirements.txt
